.settings__setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(255, 182, 193, 0.3);
  font-size: 20px;
  opacity: 0.7;
  font-weight: 500;
}

.settings__setting i {
  margin-right: 15px;
  color: mediumaquamarine;
}

.settings__setting-column:last-child {
  color: rgba(155, 155, 155, 0.9);
  font-size: 18px;
}
