.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightpink;
  border-top: 2px solid var(--pink);
  box-sizing: border-box;
  padding: 15px 50px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: rgba(0, 0, 0, 0.7);
}

.nav__notification {
  position: absolute;
  left: 12px;
  bottom: 12px;
}

.nav__issue {
  position: absolute;
  left: 23px;
  bottom: 17px;
  display: flex;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: mediumaquamarine;
}
