#no-mobile {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: mediumaquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 25px;
  font-weight: 600;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
